body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.text-danger {
    color: #ff1493;
    font-weight: bold;
    /*background-color: darkgray;*/
}

.field-validation-error {
    color: #ff1493;
}

.validation-summary-errors {
    color: #ff1493;
    font-weight: bold;
}

.input-validation-error {
    border: 2px solid #ff1493;
    background-color: #fee;
}
